<!DOCTYPE html>
[
  <!ATTLIST tag myAttri CDATA #IMPLIED>
]>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootsrtap Free Admin Template - SIMINTA | Admin Dashboad Template</title>
    <!-- Core CSS - Include with every page -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet" />
    <link href=../../static/font-awesome/css/font-awesome.css rel="stylesheet" />
    <link href="../../static/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
    <link href="../../static/css/style.css" rel="stylesheet" />
    <link href="../../static/css/main-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../static/css/easy-autocomplete.min.css">
    <link rel="stylesheet" href="../../static/css/easy-autocomplete.themes.min.css">
    <!-- Page-Level CSS -->
    <link href="../../static/plugins/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../static/js/jquery.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.easy-autocomplete.min.js"></script>

<script type="text/javascript">

    function signOut(){
            location.href = "signOut";
    }

    $(document).ready(function() {
       var options = {
        url: "subjects",

        getValue: "name",

        list: {
            match: {
                enabled: true
            }
        }
    };

        $("#basics").easyAutocomplete(options);
    });

    function closeAlert(){

        document.getElementById("alertFieldsAct").style.display = "none";

    }

    function addActivity() {
        //alert(checkData(2));
        if (checkData(2)) {
            var nAct = parseInt(document.getElementById("nAct").value) + 1;

            var table = document.getElementById("tableActivities");

            // Create an empty <tr> element and add it to the 1st position of the table:
            var row = table.insertRow(nAct);

            // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
            var cell6 = row.insertCell(5);

            // Add some text to the new cells:
            cell1.innerHTML = document.getElementById("actName").value + "<input type='hidden' name=actName|" + nAct + "id=actName|" + nAct + " value=" + document.getElementById("actName").value + "/>";
            cell2.innerHTML = document.getElementById("actDesc").value + "<input type='hidden' name='actDesc|" + nAct + "' id='actDesc|" + nAct + "' value='" + document.getElementById("actDesc").value + "'>";
            cell3.innerHTML = document.getElementById("actdatestart").value + "<input type='hidden' name='actdatestart|" + nAct + "' id='actdatestart|" + nAct + "' value='" + document.getElementById("actdatestart").value + "'>";
            cell4.innerHTML = document.getElementById("actdateend").value + "<input type='hidden' name='actdateend|" + nAct + "' id='actdateend|" + nAct + "' value='" + document.getElementById("actdateend").value + "'>";
            cell5.innerHTML = document.getElementById("actPerc").value + "<input type='hidden' name='actPerc|" + nAct + "' id='actPerc|" + nAct + "' value='" + document.getElementById("actPerc").value + "'>";
            document.getElementById("nAct").value = nAct;
            clearValues(2);
        }
        else {
            document.getElementById("alertFieldsAct").style.display = "inline-block";
        }
    }
    function checkData(val) {

        var inputs = document.getElementsByTagName("input");

        for (var i = 0; i < inputs.length; i++) {

            if (inputs[i].id != "") {
                //alert(inputs[i].id);
                //alert(document.getElementById(inputs[i].id).getAttribute("oblig"));
                if (document.getElementById(inputs[i].id).getAttribute("oblig") == val && document.getElementById(inputs[i].id).value == "") return false;

            }

        }

        var textareas = document.getElementsByTagName("textarea");

        for (var i = 0; i < textareas.length; i++) {

            if (textareas[i].id != "") {
                //alert(textareas[i].id);
                //alert(document.getElementById(textareas[i].id).getAttribute("oblig"));
                if (document.getElementById(textareas[i].id).getAttribute("oblig") == val && document.getElementById(textareas[i].id).value == "") return false;

            }

        }

        return true;

    }

    function clearValues(val) {

        var inputs = document.getElementsByTagName("input");

        for (var i = 0; i < inputs.length; i++) {

            if (inputs[i].id != "") {
                if (document.getElementById(inputs[i].id).getAttribute("oblig") == val) document.getElementById(inputs[i].id).value = "";

            }

        }

        var textareas = document.getElementsByTagName("textarea");

        for (var i = 0; i < textareas.length; i++) {

            if (textareas[i].id != "") {
                if (document.getElementById(textareas[i].id).getAttribute("oblig") == val) document.getElementById(textareas[i].id).value = "";

            }

        }

        return true;

    }

</script>

<style type="text/css">

    #message {
    position: fixed;
    top: 400px;
    left: 25%;
    width: 50%;
    height:100px;
    z-index:999;
    }

    #inner-message {
        margin: 0 auto;
    }
       h2 {
            font-size: 20px;
            font-family: Helvetica, sans-serif;
            font-weight: bold;
            text-align: center;
            text-shadow: rgba(0, 0, 0, .3) 5px 5px 5px;
            color: white;
            vertical-align: middle;
        }

        hr {
         -moz-border-bottom-colors: none;
          -moz-border-image: none;
          -moz-border-left-colors: none;
          -moz-border-right-colors: none;
          -moz-border-top-colors: none;
          border-color: #c0c0c0;
          border-style: solid none;
          border-width: 1px 0;
          margin: 5px 0;
        }

    .bs-example {
	font-family: sans-serif;
	position: relative;
	margin: 100px;
    }

.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 22px; /* Set input font size */
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 396px;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 22px;  /* Set suggestion dropdown font size */
	padding: 3px 20px;
}
.tt-suggestion:hover {
	cursor: pointer;
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}
</style>

   </head>
<body style="margin-top:0px">
    <!--  wrapper -->
    <div id="wrapper">
        <!-- navbar top -->
        <nav class="navbar navbar-fixed-top" role="navigation" id="navbar" style="background-color: black !important">
            <!-- navbar-header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand " href="index.html">
                    <p style="margin-top:25px;font-weight:bold;color:#FCFCFC;letter-spacing:1pt;word-spacing:1pt;font-size:21px;text-align:left;font-family:arial, helvetica, sans-serif;line-height:0;">PROJECT TEAM</p>
                </a>
            </div>
            <!-- end navbar-header -->
            <!-- navbar-top-links -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- main dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="top-label label label-danger">3</span><i class="fa fa-envelope fa-3x"></i>
                    </a>
                    <!-- dropdown-messages -->
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong><span class=" label label-danger">Andrew Smith</span></strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong><span class=" label label-info">Jonney Depp</span></strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong><span class=" label label-success">Jonney Depp</span></strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- end dropdown-messages -->
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="top-label label label-success">4</span>  <i class="fa fa-tasks fa-3x"></i>
                    </a>
                    <!-- dropdown tasks -->
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- end dropdown-tasks -->
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="top-label label label-warning">5</span>  <i class="fa fa-bell fa-3x"></i>
                    </a>
                    <!-- dropdown alerts-->
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i>New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i>3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i>Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i>New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i>Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- end dropdown-alerts -->
                </li>
                 <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-sign-out fa-3x" onclick="signOut()"></i>
                    </a>
                    <!-- dropdown user--
                    <!-- end dropdown-user -->
                </li>
                <!-- end main dropdown -->
            </ul>
            <!-- end navbar-top-links -->

        </nav>
        <!-- end navbar top -->

        <!-- navbar side -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <!-- sidebar-collapse -->
            <div class="sidebar-collapse">
                <!-- side-menu -->
                <ul class="nav" id="side-menu">
                    <li>
                        <!-- user image section-->
                        <div class="user-section">
                            <div class="user-section-inner">

                            </div>
                            <div class="user-info">
                                <div>{{ request.session.user }}
                                    <span class="user-circle-online btn btn-success btn-circle user "></span>&nbsp;Online
                                </div>
                            </div>
                        </div>
                        <!--end user image section-->
                    </li>
                    <li class="sidebar-search">
                        <!-- search section-->
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!--end search section-->
                    </li>
                    <li class="selected">
                        <a href="/menu"><i class="fa fa-dashboard fa-fw"></i>Main Menu</a>
                    </li>
                    <li>
                        <a href="/menu/newSubject"><i class="fa fa-bar-chart-o fa-fw"></i> New Subject</a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/menu/newTeam">New Team</a>
                            </li>
                            <li>
                                <a href="/menu/newProject">New Project</a>
                            </li>
                        </ul>
                        <!-- second-level-items -->
                    </li>
                     <li>
                        <a href="timeline.html"><i class="fa fa-flask fa-fw"></i>View my Activities</a>
                    </li>
                    <li>
                        <a href="tables.html"><i class="fa fa-table fa-fw"></i>Tables</a>
                    </li>
                    <li>
                        <a href="forms.html"><i class="fa fa-edit fa-fw"></i>Forms</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-wrench fa-fw"></i>UI Elements<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="panels-wells.html">Panels and Wells</a>
                            </li>
                            <li>
                                <a href="buttons.html">Buttons</a>
                            </li>
                            <li>
                                <a href="notifications.html">Notifications</a>
                            </li>
                            <li>
                                <a href="typography.html">Typography</a>
                            </li>
                            <li>
                                <a href="grid.html">Grid</a>
                            </li>
                        </ul>
                        <!-- second-level-items -->
                    </li>
                </ul>
                <!-- end side-menu -->
            </div>
            <!-- end sidebar-collapse -->
        </nav>
        <!-- end navbar side -->
        <div class="container">
            <div id="modalNoDataComplete" class="modal fade" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header centered color-red">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">You must fill all the activity form's fields</h4>
                  </div>
                  <div class="modal-body right">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>

      <div id="page-wrapper" style="margin-top:0px !important">
            <div class="row" >
                <div class="col-lg-9 main-top-margin" data-scrollreveal="enter left and move 100px, wait 0.4s">
                    <h3><span class="label label-default" style="font-size:1.4em">New Project</span></h3>
                    <br>
                        <form method="post">
                             {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="usr">Project Name:</label>
                                        <input type="text" class="form-control" id="projectName" name="projectName" required="required" placeholder="Project Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="usr">Subject:</label>
                                        <input id="basics" class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                      <label for="pwd">When Start:</label>
                                      <input type="date" class="form-control" name="datestart" id="datestart" style="width:21%">                                    </div>
                                    <div class="form-group">
                                      <label for="pwd">When End:</label>
                                      <input type="date" class="form-control" name="dateend" id="dateend" style="width:21%">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12"><h1 style="color:black; font-size:20px"><u>Activities</u></h1></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="usr">Activity Name:</label>
                                        <input type="text" class="form-control" id="actName" name="actName" placeholder="Activity Name" oblig="2" required="required">
                                        <input type="hidden" name="nAct" id="nAct" value="0">
                                    </div>
                                    <div class="form-group">
                                        <label for="usr">Description:</label>
                                        <textarea rows="7" type="text" name="actDesc" id="actDesc" class="form-control" oblig="2" required="required" placeholder="Write here the activity description..."></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="usr">Subject Percentage (%):</label>
                                        <input type="number" class="form-control" name="actPerc" id="actPerc" min="1" max="100" oblig="2" style="width:10%">
                                    </div>
                                    <div class="form-group">
                                      <label >When Start:</label>
                                      <input type="date" class="form-control" name="actdatestart" id="actdatestart" oblig="2" style="width:25%">                                    </div>
                                    <div class="form-group">
                                      <label>When End:</label>
                                      <input type="date" class="form-control" name="actdateend" id="actdateend" oblig="2" style="width:25%">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                </div>
                                <div class="col-md-2">
                                        <div class="form-group">
                                            <button type="button" name="addAct" id="addAct" onclick="addActivity(); return false" class="btn btn-default" style="background-color:#80663B; color:white"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Add Activity</button>
                                        </div>
                                </div>
                            </div>
                            <div class="row"><div class="col-md-12" style="height:30px"></div></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                          <table class="table table-bordered fa-inverse" id="tableActivities" name="tableActivities" style="width:100%;">
                                              <tr style="background-color: dimgrey">
                                                <th style="width:30%">Activity Name</th>
                                                <th style="width:40%">Description</th>
                                                <th style="width:10%">When Start</th>
                                                <th style="width:10%">When End</th>
                                                <th style="width:5%">% Assig</th>
                                                <th>Option</th>
                                              </tr>
                                            <tbody style="background-color: whitesmoke;color:darkslategray">
                                                <tr>
                                                    <td>
                                                        Add Activities in this table...
                                                    </td>
                                                    <td>
                                                        -
                                                    </td>
                                                    <td>
                                                        -
                                                    </td>
                                                    <td>
                                                        -
                                                    </td>
                                                    <td>
                                                        -
                                                    </td>
                                                    <td>
                                                        -
                                                    </td>
                                                </tr>
                                            </tbody>
                                          </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row"><div class="col-md-4" style="height:50px"></div></div>

                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button name="accept" id="accept" type="submit" class="btn btn-success">Accept</button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button name="cancel" id="cancel" type="submit" class="btn btn-danger">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </div>
     </div>
   <div id="message">
        <div style="padding: 5px;">
          <div class="alert alert-danger alert-dismissable fade in" id="alertFieldsAct" style="display: none;">
            <a class="close" onclick="closeAlert()">x</a>
            <h4 class="alert-heading"><b>WARNING!</b></h4>
            <p>Please, fill all the <b>Activity Form Fields</b> before to add it</p>
          </div>
        </div>
    </div>


    <!-- Core Scripts - Include with every page -->

</body>

</html>
