<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootsrtap Free Admin Template - SIMINTA | Admin Dashboad Template</title>
    <!-- Core CSS - Include with every page -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet" />
    <link href=../../static/font-awesome/css/font-awesome.css rel="stylesheet" />
    <link href="../../static/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
    <link href="../../static/css/style.css" rel="stylesheet" />
    <link href="../../static/css/main-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../static/css/easy-autocomplete.min.css">
    <link rel="stylesheet" href="../../static/css/easy-autocomplete.themes.min.css">
    <!-- Page-Level CSS -->
    <link href="../../static/plugins/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../static/js/jquery.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.easy-autocomplete.min.js"></script>
<script type="text/javascript">
 /*   $(document).ready(function(){
    // Defining the local dataset
    var cars = ['Audi', 'BMW', 'Bugatti', 'Ferrari', 'Ford', 'Lamborghini', 'Mercedes Benz', 'Porsche', 'Rolls-Royce', 'Volkswagen'];

    // Constructing the suggestion engine
    var cars = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: cars
    });

    // Initializing the typeahead
    $('.typeahead').typeahead({
        hint: true,
        highlight: true, /* Enable substring highlighting
        minLength: 1 /* Specify minimum characters required for showing result*/
    /*},
    {
        name: 'cars',
        source: cars
    });
});*/

$(document).ready(function() {
   var options = {
	url: "students",

	getValue: "name",

	list: {
		match: {
			enabled: true
		}
	}
};

    $("#basics").easyAutocomplete(options);
});

    function signOut(){
            location.href = "signOut";
    }

    function goMenu(){
            location.href = "/menu";
    }

    function addStudent() {
        //alert(checkData(2));
        if (document.getElementById("basics").value != "") {
            var nStud = parseInt(document.getElementById("nStud").value) + 1;

            var table = document.getElementById("tableStudents");

            // Create an empty <tr> element and add it to the 1st position of the table:
            var row = table.insertRow(nStud);

            row.id = "tr" + nStud;

            // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);

            // Add some text to the new cells:
            cell1.style = "text-align:center";
            cell1.innerHTML = "<span class='glyphicon glyphicon-trash' aria-hidden='true' style='cursor:pointer' onclick='deleteStudent(" + nStud + ")'></span>";
            cell2.innerHTML = document.getElementById("basics").value + "<input type='hidden' name=sName|" + nStud + " id=sName|" + nStud + " value=" + document.getElementById("basics").value + "/>";
            document.getElementById("nStud").value = nStud;
            document.getElementById("basics").value = "";
        }
        else {
            alert("Please, you must indicate the Student to add")
        }
    }

    function deleteStudent(id) {
        document.getElementById("tr" + id).parentNode.removeChild(document.getElementById("tr" + id));
    }


</script>

    <style type="text/css">

       h2 {
            font-size: 20px;
            font-family: Helvetica, sans-serif;
            font-weight: bold;
            text-align: center;
            text-shadow: rgba(0, 0, 0, .3) 5px 5px 5px;
            color: white;
            vertical-align: middle;
        }

        hr {
         -moz-border-bottom-colors: none;
          -moz-border-image: none;
          -moz-border-left-colors: none;
          -moz-border-right-colors: none;
          -moz-border-top-colors: none;
          border-color: #c0c0c0;
          border-style: solid none;
          border-width: 1px 0;
          margin: 5px 0;
        }

        #container_title {

            /*gradient*/
            background: #666666; /* old browsers */
            background: -moz-linear-gradient(top, #666666 4%, #545454 50%, #3A3A3A 51%, #131313 100%); /* firefox */

            background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#666666), color-stop(50%,#545454), color-stop(51%,#3A3A3A), color-stop(100%,#131313)); /* webkit */

            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#131313',GradientType=0 ); /* ie */

            /*box styles*/
            height: 40px;
            width: 150px;
            margin-top:20px;
            margin-bottom:20px;

            /*shadow*/
            -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
            -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
            box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);

            /*corners*/
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
        }

.bs-example {
	font-family: sans-serif;
	position: relative;
	margin: 100px;
}
.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 22px; /* Set input font size */
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 396px;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 22px;  /* Set suggestion dropdown font size */
	padding: 3px 20px;
}
.tt-suggestion:hover {
	cursor: pointer;
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}
</style>

   </head>
<body>
    <!--  wrapper -->
    <div id="wrapper">
               <!-- navbar top -->
        <nav class="navbar navbar-fixed-top" role="navigation" id="navbar" style="background-color: black !important">
            <!-- navbar-header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand " href="index.html">
                    <p style="margin-top:25px;font-weight:bold;color:#FCFCFC;letter-spacing:1pt;word-spacing:1pt;font-size:21px;text-align:left;font-family:arial, helvetica, sans-serif;line-height:0;">PROJECT TEAM</p>
                </a>
            </div>
            <!-- end navbar-header -->
            <!-- navbar-top-links -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- main dropdown -->

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-3x"></i>
                    </a>
                </li>

                 <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-sign-out fa-3x" onclick="signOut()"></i>
                    </a>
                    <!-- dropdown user--
                    <!-- end dropdown-user -->
                </li>
                <!-- end main dropdown -->
            </ul>
            <!-- end navbar-top-links -->

        </nav>
        <!-- end navbar top -->

        <!-- navbar side -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <!-- sidebar-collapse -->
            <div class="sidebar-collapse">
                <!-- side-menu -->
                <ul class="nav" id="side-menu">
                    <li>
                        <!-- user image section-->
                        <div class="user-section">
                            <div class="user-info">
                                <div>{{ request.session.user }}
                                    <span class="user-circle-online btn btn-success btn-circle user "></span>&nbsp;Online
                                </div>
                            </div>
                        </div>
                        <!--end user image section-->
                    </li>
                    <li class="sidebar-search">
                        <!-- search section-->
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!--end search section-->
                    </li>
                    <li class="selected">
                        <a href="/menu"><i class="fa fa-dashboard fa-fw"></i>Main Menu</a>
                    </li>
                    <li>
                        <a href="/menu/newSubject"><i class="fa fa-bar-chart-o fa-fw"></i> New Subject</a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/menu/newTeam">New Team</a>
                            </li>
                            <li>
                                <a href="/menu/newProject">New Project</a>
                            </li>
                        </ul>
                        <!-- second-level-items -->
                    </li>
                     <li>
                        <a href="timeline.html"><i class="fa fa-flask fa-fw"></i>View my Activities</a>
                    </li>
                    <li>
                        <a href="tables.html"><i class="fa fa-table fa-fw"></i>Tables</a>
                    </li>
                    <li>
                        <a href="forms.html"><i class="fa fa-edit fa-fw"></i>Forms</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-wrench fa-fw"></i>UI Elements<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="panels-wells.html">Panels and Wells</a>
                            </li>
                            <li>
                                <a href="buttons.html">Buttons</a>
                            </li>
                            <li>
                                <a href="notifications.html">Notifications</a>
                            </li>
                            <li>
                                <a href="typography.html">Typography</a>
                            </li>
                            <li>
                                <a href="grid.html">Grid</a>
                            </li>
                        </ul>
                        <!-- second-level-items -->
                    </li>
                </ul>
                <!-- end side-menu -->
            </div>
            <!-- end sidebar-collapse -->
        </nav>
        <!-- end navbar side -->
      <div id="page-wrapper">
            <div class="row" >
                <div class="col-lg-9 main-top-margin" data-scrollreveal="enter left and move 100px, wait 0.4s">
                    <div id="container_title">
    	                <h3><span class="label label-default" style="font-size:1.4em">New Team</span></h3>
                    </div>
                    <br>
                        <form method="post" id="formStudent">
                            <input type="hidden" id="nStud" name="nStud" value="0" />
                             {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="usr">Team Name:</label>
                                        <input type="text" class="form-control" id="teamName" name="teamName" required="required" style="width:40%">
                                    </div>
                                   <div class="form-group">
                                        <label for="usr">Project:</label>
                                        <select class="form-control" id="project" name="project" style="width:21%">
                                        {% for project in projects %}
                                        <option value="{{ project.id }}">{{ project.pr_name }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12"><h1 style="color:black; font-size:20px"><u>Students</u></h1></div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="usr">Student:</label>
                                        <input id="basics" class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-md-7"></div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button name="accept" id="accept" type="button" onclick="addStudent()" class="btn btn-default">Add</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row"><div class="col-md-12" style="height:30px"></div></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                          <table class="table table-bordered fa-inverse" id="tableStudents" name="tableStudents" style="width:50%;">
                                              <tr style="background-color: dimgrey">
                                                <th>Option</th>
                                                <th style="width:80%">Student Name</th>
                                              </tr>
                                            <tbody style="background-color: whitesmoke;color:darkslategray">
                                                <tr>
                                                    <td>
                                                        -
                                                    </td>
                                                    <td>
                                                        Add Student here...
                                                    </td>
                                                </tr>
                                            </tbody>
                                          </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row"><div class="col-md-12" style="height:70px"></div></div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button name="accept" id="accept" type="submit" class="btn btn-success">Accept</button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button name="cancel" id="cancel" type="submit" class="btn btn-danger">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </div>
     </div>
</div>
    <!-- Core Scripts - Include with every page -->

</body>

</html>
